@page "/login"
<h3>Login</h3>
@if (ShowAuthError)
{
    <div class="alert alert-danger" role="alert">
        <p>@Error</p>
    </div>
}
<EditForm Model="_userForAuthentication" OnValidSubmit="ExecuteLogin" class="card card-body bg-light mt-5">
    <DataAnnotationsValidator />
    <div class="form-group row">
        <label for="username" class="col-md-2 col-form-label">username:</label>
        <div class="col-md-10">
            <InputText id="username" class="form-control" @bind-Value="_userForAuthentication.username" />
            <ValidationMessage For="@(() => _userForAuthentication.username)" />
        </div>
    </div>
    <div class="form-group row">
        <label for="password" class="col-md-2 col-form-label">Password:</label>
        <div class="col-md-10">
            <InputText type="password" id="password" class="form-control" @bind-Value="_userForAuthentication.password" />
            <ValidationMessage For="@(() => _userForAuthentication.password)" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
</EditForm>
<SuccessNotification @ref="_notification" />
<style>
    body {
        background-color: gray;
    }
</style>
